# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/storage
/my-store

#
/testdata/0.dat
/testdata/0.idx
/testdata/0.meta

#
/testdata/1.dat
/testdata/1.idx
/testdata/1.meta

/testdata/2.dat
/testdata/2.idx
/testdata/2.meta

/testdata/11.dat
/testdata/11.idx
/testdata/11.meta

cover.cov
